<mat-nav-list>
    
    <div class="logo py-4">
        <img src="../../../assets/logo_groupe.gif" alt="Company logo">
    </div>

    <mat-divider></mat-divider>

    <br>

    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon style="color: white;">home</mat-icon> <span style="color: white;">Accueil</span>
    </a>

    <a mat-list-item routerLink="/dashboard">
        <mat-icon style="color: white;">dashboard</mat-icon> <span style="color: white;">Dashboard</span> 
    </a>

    <a mat-list-item style="color: white;" routerLink="/testeur">
        <mat-icon style="color: white;">persons</mat-icon><span style="color: white;">Testeur</span> 
    </a>

    <a mat-list-item routerLink="/perimetre">
        <mat-icon style="color: white;">play_circle_filled</mat-icon> <span style="color: white;">Périmètre</span> 
    </a>

    <!-- <a mat-list-item>
        <mat-icon style="color: white;">add</mat-icon> <span style="color: white;">Ajouter</span> 
    </a> -->

</mat-nav-list>